<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<mat-toolbar fixedInViewport="true">
    <mat-toolbar-row>
        <i class="fa fa-reorder remove-right-space" (click)="drawer.toggle()"></i>
        <button mat-button class="site-name" color="btn-color">Zachary Rune Zuch</button>
        <span class="flex-expand"></span>
        <i class="fa fa-linkedin-square" (click)="open(linkedInUrl);"></i>
        <i class="fa fa-github" (click)="open(githubUrl);"></i>
        <mat-menu></mat-menu>
    </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container [hasBackdrop]="false">
    <!-- The side nav -->
    <mat-sidenav #drawer fixedInViewport="true" [mode]="'over'" [opened]="false">
        <div class="sidenav-below-toolbar"></div>
        <mat-nav-list>
            <a mat-list-item href="#" color="btn-color">D&D Character Tool</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content (click)="drawer.close()">
        <app-home></app-home>
    </mat-sidenav-content>
</mat-sidenav-container>